.Post { 
    display : flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px;
    width: 600px;
    height: fit-content;
    background-color: azure;

}

.BlogParagaph { 
    text-overflow: clip;
}
