body{
  margin: 0;
  padding: 0;
  background-color: #262630;
  height: 100%;
  overflow: hidden;
}
/* Style the navbar */
#navbar {
  position: sticky;
  padding: 5px 5px 5px 5px;
  top: 0;
  overflow: hidden;
  background-color: #3c3c4d;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

